{% extends "data_cleaning/plantilla_opciones.html" %}
{% block title %}Filtrar datos{% endblock %}

{% block formulario %}
    <form action="{% url 'data_cleaning:filtrar_datos' file_name=file_name %}" method="post"> 
        {% csrf_token %}
        <h5>Filtrar datos por condición</h5>
        
        
        <div class="d-flex gap-4 justify-content-start flex-wrap mt-2 mb-4">
            <div>
                <p>Seleccione las columnas que desea evaluar:</p>
                <div class="d-flex gap-3 flex-wrap mb-2">
                    {% for columna in columnas %}
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" name="columnas_a_manipular" value="{{ columna }}" id="check_{{ columna }}">
                            <label class="form-check-label" for="check_{{ columna }}">
                                {{ columna }}
                            </label>
                        </div>
                    {% endfor %}    
                </div>
            </div>
            <div>
                <p>Defina la condición de filtrado:</p>
                <div>
                    <input type="text" class="form-control" id="condicion" name="condicion" placeholder="Ej: x > 0">
                    <small class="form-text text-muted">Ingrese una expresión válida. Ejemplo: x > 0 para conservar valores mayores a 0.</small>
                    <small class="form-text text-muted">Las filas que no pasen el filtro serán eliminadas.</small>
                </div>
            </div>

        </div>

        {{ block.super }}
    </form>
    
{% endblock %}
