{% extends "data_cleaning/plantilla_opciones.html" %}

{% block formulario %}

<form action="{% url 'data_cleaning:manejar_valores_vacios' file_name=file_name %}" method="post">
    {% csrf_token %}
    <h3>Manejar valores vacíos</h3>

    <div class="form-group">
        <label for="alcance" class="label-opciones-limpieza">Seleccione el Alcance:</label>
        <select class="form-control input-opciones-limpieza" id="alcance" name="alcance">
            <option value="todo">Todo el CSV</option>
            <option value="columna_especifica">Columna Específica</option>
        </select>
    </div>

    <div class="form-group" id="group_columna_especifica" style="display: none;">
        <label class="label-opciones-limpieza" for="columna_especifica">Nombre de la Columna:</label>
        <input type="text" class="form-control input-opciones-limpieza" id="columna_especifica" name="columna_especifica" placeholder="Nombre de la columna">
    </div>

    <div class="form-group">
        <label class="label-opciones-limpieza" for="accion">Acción para los valores vacíos:</label>
        <select class="form-control input-opciones-limpieza" id="accion" name="accion">
            <option value="eliminar">Eliminar Filas con Valores Vacíos</option>
            <option value="cero_no_definido">Reemplazar con 0 o 'No definido'</option>
            <option value="media_mas_comun">Reemplazar con la Media o el Valor Más Común</option>
        </select>
    </div>

    {{ block.super }}

</form>

<script>
    document.getElementById('alcance').addEventListener('change', function() {
        var group = document.getElementById('group_columna_especifica');
        if(this.value === 'columna_especifica') {
            group.style.display = 'block';
        } else {
            group.style.display = 'none';
        }
    });
</script>

{% endblock %}