{% extends "file_handler/base.html" %}

{% block title %}<title>Menu Opciones de Limpieza</title>{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% if info %}
            <div class="alert alert-info">
                <strong>Resultado de la Limpieza:</strong>
                <p>{{ info|linebreaks }}</p> <!-- Convierte los saltos de línea en la cadena en etiquetas <br> -->
            </div>
        {% endif %}
    </div>

    <div class="contenedor-dos-columnas">
        <div class="columna-opciones">
            <h3>Opciones de Limpieza</h3>
            <div class="columna-botones">
                <!-- Botón/enlace para la opción de eliminar filas vacías -->
                <a href="{% url 'data_cleaning:eliminar_columnas' file_name=file_name %}" class="btn boton-primario boton-opcion-limpieza">Eliminar columnas</a>
                <a href="{% url 'data_cleaning:normalizar_texto' file_name=file_name %}" class="btn boton-primario boton-opcion-limpieza">Normalizar texto</a>
                <a href="{% url 'data_cleaning:manejar_valores_vacios' file_name=file_name %}" class="btn boton-primario boton-opcion-limpieza">Manejar valores vacíos</a>
                <a href="{% url 'data_cleaning:procesar_outliers' file_name=file_name %}" class="btn boton-primario boton-opcion-limpieza">Procesar outliers</a>
                <a href="{% url 'data_cleaning:filtrar_datos' file_name=file_name %}" class="btn boton-primario boton-opcion-limpieza">Filtrar datos por condición</a>
                
                <a href="{% url 'file_handler:revisar_csv' file_name=file_name %}" class="btn boton-secundario">Volver al menú</a>
                
                <!-- Agrega más botones/enlaces según las opciones de limpieza que tengas -->
            </div>        
        </div>

        <div class="columna-tabla">
            {% include "file_handler/_scrollable_table.html" %}
        </div>
    </div>

{% endblock %}