{% extends "file_handler/base.html" %}

{% block title %}<title>Opciones de Limpieza</title>{% endblock %}

{% block content %}
    <div class="contenedor-dos-columnas">
        
        {% block formulario %}
        <div class="contenedor-der">
            <a href="{% url 'data_cleaning:opciones_limpieza' file_name=file_name %}" class="btn boton-secundario">Volver al menú</a>
            <button type="submit" class="btn boton-primario">Aplicar Limpieza</button>
        </div>
        {% endblock %} 
        <div class="columna-tabla">
            {% include "file_handler/_scrollable_table.html" %}
        </div>
    </div>
   

{% endblock %}
