{% extends "data_cleaning/plantilla_opciones.html" %}

{% block formulario %}

<form action="{% url 'data_cleaning:procesar_outliers' file_name=file_name %}" method="post">  <!-- Cambia 'nombre_de_tu_vista' por el nombre de tu vista de Django -->
    {% csrf_token %}
    <h5>Procesar outliers</h5>


    <div class="d-flex gap-4 justify-content-start flex-wrap mt-2 mb-4">

        <div>
            <p>Umbral IQR:</p>
            <input type="number" class="form-control" id="umbral_iqr" name="umbral_iqr" value="1.5" step="0.1">
        </div>

        <div>
            <p>Seleccione las columnas que desea evaluar:</p>
            <div class="d-flex gap-3 flex-wrap mb-2">
                {% for columna in columnas %}
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" name="columnas_a_manipular" value="{{ columna }}" id="check_{{ columna }}">
                        <label class="form-check-label" for="check_{{ columna }}">
                            {{ columna }}
                        </label>
                    </div>
                {% endfor %}    
            </div>
        </div>

        <div>
            <p>Acción para los outliers:</p>
            <select class="form-select" id="accion" name="accion">
                <option value="ajustar">Ajustar Outliers</option>
                <option value="eliminar">Eliminar Filas con Outliers</option>
            </select>
        </div>
    
    </div>


    {{ block.super }}

</form>

{% endblock %}