{% extends "data_analysis/plantilla_analisis.html" %}

{% block title %}Correlación de Pearson{% endblock %}

{% block formulario %}

    <form action="{% url 'data_analysis:correlacion_pearson' file_name=file_name %}" method="post">
        {% csrf_token %}
        <h5>Correlación de Pearson</h5>

        <div class="d-flex gap-4 justify-content-start flex-wrap mt-2 mb-4">
            
            <div>
                <p>Selecciona las variables a analizar</p>
                <div class="d-flex gap-3 flex-wrap mb-2">
                    {% for columna in columnas %}
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" name="variables" value="{{ columna }}" id="check_{{ columna }}">
                        <label class="form-check-label" for="check_{{ columna }}">
                            {{ columna }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            
        </div>

        {{ block.super }}
    </form>
        
{% endblock %}