{% extends "data_analysis/plantilla_analisis.html" %}

{% block title %}Regresion Lineal{% endblock %}

{% block formulario %}

    <form action="{% url 'data_analysis:regresion_lineal' file_name=file_name %}" method="post">
            {% csrf_token %}
            <h5>Regresión Lineal</h5>

            <div class="d-flex gap-4 justify-content-start flex-wrap mt-2 mb-4">
                
                <div>
                    <p>Selecciona la variable dependiente (Y)</p>
                    <select class="form-select" id="variable_dependiente" name="variable_dependiente">
                        {% for columna in columnas %}
                        {% if columna|length > 0 %}
                        <option value="{{ columna }}">{{ columna }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                
                <div>
                    <p>Selecciona las variables independientes (X)</p>
                    <div class="d-flex gap-3 flex-wrap mb-2">
                        {% for columna in columnas %}
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" name="variables_independientes" value="{{ columna }}" id="check_{{ columna }}">
                            <label class="form-check-label" for="check_{{ columna }}">
                                {{ columna }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
            </div>

            {{ block.super }}
        </form>
            
{% endblock %}
