@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* ESTILOS PARA LOS TEXTOS */
html, body {
    height: 100%;
    margin: 0;
}
html{
    font-size: 10px;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7rem;
    margin: 0;
    padding: 0;
    background-color: hsl(329.6,57.7%,99%);
    
}
.main-content {
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 0.1px;
}
h1 {
    font-size: 1.6rem;
    margin: auto;
    display: inline-block;
    font-weight: 500;
}
h2 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    opacity: 0.9;
}
h3 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 500;
    opacity: 0.9;
}









/* ESTILOS DE LA PLANTILLA BASE */
header {
    background-color: hsl(330, 58%, 27%); /* Color de fondo para el header */
    color: #fff; /* Color del texto para el header */
    padding: 1rem 0;
    margin-bottom: 4.5rem;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Horizontal offset, vertical offset, blur radius, color */
}
header h1{
    opacity: 0.8;
}
#logo {
    width: 3.5rem;
    opacity: 0.8;
}


footer {
    background-color: hsl(330, 58%, 20%);
    color: #fff;
    padding: 40px 0;
    text-align: center;
    width: 100%;
}

footer p {
    font-size: 1.5rem;
    opacity: 0.8;
    text-align: left;
    margin-bottom: 2rem;
}
#footer_img {
    width: 30rem;
}

.content-box {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
}
@media (max-width: 768px) {
    .content-box {
        margin-top: 20px;
        height: calc(100vh - 100px);
    }
}











/* ESTILOS PARA LOS BOTONES */
.btn {
    margin: 1rem 0;
    font-size: 1.6rem;
    padding: 0.9rem 1rem;
    border-radius: 0.6rem;
    border: none; /* Sin borde */
    color: hsl(329.6,57.7%,97%); /* Color del texto común */
    font-family: 'Roboto', sans-serif;
}

.boton-primario {
    background-color: rgb(0, 138, 96, 8%);
    color: #212529;
    border: 2px solid hsl(162, 100%, 27%); /* Nuevo borde */
}

.boton-primario:hover {
    color: hsl(329.6,57.7%,99%);
    background-color:hsl(162, 100%, 30%); /* Color más oscuro para hover */
    border: 2px solid hsl(162, 100%, 30%); /* Nuevo borde */
}

.boton-primario:focus {
    background-color:hsl(162, 100%, 30%); /* Color ligeramente más oscuro para focus */
    box-shadow: 0 0 0 0.2rem hsl(162, 100%, 30%); /* Sombra para destacar el focus */
    border: 2px solid hsl(162, 100%, 27%); /* Nuevo borde */
}

.boton-primario:active {
    background-color: hsl(162, 100%, 30%); /* Color más oscuro para active */
    border: 2px solid hsl(162, 100%, 27%); /* Nuevo borde */
}

.boton-primario:disabled {
    background-color:  #0c4022;
    opacity: 0.65; /* Hacer el botón más transparente */
    pointer-events: none; /* Desactivar eventos del ratón */
}

.boton-secundario {
    background-color: hsl(329.6,57.7%,98%); /* Nuevo color de fondo */
    color: #212529;
    border: 2px solid hsl(329.6,57.7%,32%)/* Nuevo borde */
}

.boton-secundario:hover {
    background-color: hsl(329.6,57.7%,95%); /* Color más oscuro para hover */
    border: 2px solid hsl(329.6,57.7%,27%); /* Nuevo borde */
}

.boton-secundario:focus {
    background-color: hsl(329.6,57.7%,95%); /* Color ligeramente más oscuro para focus */
    box-shadow: 0 0 0 0.2rem hsl(329.6,57.7%,95%); /* Sombra para destacar el focus */
}

.boton-secundario:active {
    background-color: hsl(329.6,57.7%,95%); /* Color más oscuro para active */
}

.boton-secundario:disabled {
    background-color: hsl(329.6,57.7%,95%);
    opacity: 0.65; /* Hacer el botón más transparente */
    pointer-events: none; /* Desactivar eventos del ratón */
}



.boton-centrar{
    margin: 0 auto;
    display: block;
}
.boton-opcion {
    display: inline-block;
    width: 100%; /* Esto hará que todos los botones ocupen el 100% del contenedor padre */
    margin: 0;
}









/* ESTILOS PARA LOS FORMULARIOS */
#div_id_archivo_csv {
    margin-top: 3rem;
    margin-bottom: 4rem;
}
.label-opciones-limpieza{
    font-size: 1.7rem;
    margin-bottom: 2rem;
}
.input-opciones-limpieza{
    font-size: 1.7rem;
    margin-bottom: 2rem;
}
.checkbox input {
    margin-top: 2rem;
}









/* ESTILOS PARA LAS TABLAS */
.scrollable-table {
    width: 100%;
    height: calc(100vh - 300px); /* 100vh es la altura total del viewport, 150px es la altura combinada del header, botones y footer */
    overflow-y: auto;
    margin-bottom: 2rem;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border: none;
    background-color: hsl(329.6,57.7%,99%);
}

.table thead {
    background-color: hsl(329.6,57.7%,99%); /* Color de fondo para el encabezado de la tabla */
    color: #212529; /* Color del texto para el encabezado */
    font-family: 'Roboto', sans-serif;
    border: 3px solid hsl(329.6,57.7%,99%);
}

.table td, th {
    border: 1px solid hsl(329.6,57.7%,99%);
}
.table thead th {
    padding: 10px 15px; /* Espaciado interno para las celdas del encabezado */
    text-align: left; /* Alineación del texto */
}

.table tbody td {
    padding: 10px 15px; /* Espaciado interno para las celdas del cuerpo */
}

.table tbody tr:nth-child(odd) {
    background-color: hsl(329.6,57.7%,97%); /* Color de fondo para filas impares */
}

.table tbody tr:hover {
    background-color: hsl(329.6,57.7%,95%); /* Color de fondo al pasar el ratón por encima de una fila */
}








/* ESTILOS PARA CONTENEDORES */
.contenedor-margen {
    margin: 2vh 4vw; /* Margen vertical basado en el alto de la ventana, y horizontal basado en el ancho */
    flex: 1; /* Hace que el contenedor ocupe todo el espacio disponible */
}
.contenedor-margen-grande {
    margin: 2vh 8vw; /* Margen vertical basado en el alto de la ventana, y horizontal basado en el ancho */
    flex: 1; /* Hace que el contenedor ocupe todo el espacio disponible */
}
.centrado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-flex-between{
    display: flex;
    justify-content: space-between;
}
.contenedor-der{
    display: flex;
    justify-content: flex-end;
    gap: 2rem
}
.contenedor-izq{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}
.contenedor-dos-columnas {
    display: flex;
    flex-direction: row;
    gap: 150px; /* Esto agrega espacio entre los elementos flex */
}
.columna-opciones {
    display: flex; /* Utiliza Flexbox */
    flex-direction: column; /* Organiza los botones en una columna */
    align-items: flex-start; /* Alinea los elementos al inicio, evitando que se estiren */
    flex-wrap: nowrap; /* Evita que los elementos se envuelvan en líneas adicionales */
}
.columna-tabla {
    flex-grow: 1; /* Esto permite que el contenedor de la tabla crezca y ocupe el espacio restante */
    width: calc(90% - 320px); /* Asumiendo un ancho fijo para el contenedor de opciones y 20px de gap */
}
.columna-botones{
    display: flex;
    flex-direction: column;
    width: 100%;
}