
/* ESTILOS PARA LAS TABLAS */
.scrollable-table {
    width: 100%;
    height: calc(100vh - 230px); /* 100vh es la altura total del viewport, 150px es la altura combinada del header, botones y footer */
    overflow-y: auto;
}


.table thead th {
    text-align: center; /* Alineación del texto */
}

.table tbody td {
    text-align: center; /* Espaciado interno para las celdas del cuerpo */
}




