{% comment %} <h3>{% block titulo_tabla %}Tus datos{% endblock %}</h3>  {% endcomment %}

    <!-- Botones para navegar entre las páginas -->
    <!-- <button onclick="cambiarVersion('atras')">Atrás</button>
    <button onclick="cambiarVersion('adelante')">Adelante</button>-->

<div class="scrollable-table bg-white rounded shadow mb-4 mt-4">
    <!-- Muestra el DataFrame como tabla HTML -->
    {{ dataframe|safe }}
</div>   

<script>
    var file_name = "{{ file_name }}";
    var startRow = 20;
    var isLoading = false;
    var isAllDataLoaded = false;
    
    function fetchMoreRows() {
        if (isLoading || isAllDataLoaded) return;
        
        isLoading = true;
        fetch(`/file_handler/cargar_mas_filas/${file_name}?start=${startRow}`)
            .then(response => response.json())
            .then(json => {
                let data = json.data.trim();
                if (data) {
                    var tableBody = document.querySelector('.scrollable-table table tbody');
                    tableBody.insertAdjacentHTML('beforeend', data);
                    startRow += 20;
                } else {
                    isAllDataLoaded = true; // No más datos para cargar
                }
            })
            .catch(error => {
                console.error('Error:', error);
                // Mostrar mensaje de error al usuario aquí, si es necesario
            })
            .finally(() => {
                isLoading = false; // Restablece el flag independientemente del resultado
                // Ocultar spinner de carga aquí, si es necesario
            });
    }
    
    // Debounce function to limit how often a function can fire
    function debounce(func, wait) {
        let timeout;
        return function(...args) {
            clearTimeout(timeout);
            timeout = setTimeout(() => func.apply(this, args), wait);
        };
    }
    
    document.addEventListener('DOMContentLoaded', function() {
        var scrollableTable = document.querySelector('.scrollable-table');
        if (scrollableTable) {  // Asegúrate de que el elemento existe
            scrollableTable.onscroll = debounce(function() {
                // Comprueba que el desplazamiento se aproxime al final del contenedor
                var scrollBottom = scrollableTable.scrollHeight - scrollableTable.clientHeight - scrollableTable.scrollTop;
                if (scrollBottom < 100 && !isLoading) {
                    fetchMoreRows();
                }
            }, 100);
        }
    });
    
</script>

<script>
    // Función para obtener el valor de una cookie por su nombre
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function cambiarVersion(direccion) {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '{% url 'file_handler:cambiar_version' %}', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

        // Obtener el token CSRF de las cookies y añadirlo a la solicitud
        var csrftoken = getCookie('csrftoken');
        xhr.setRequestHeader('X-CSRFToken', csrftoken);

        xhr.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var response = JSON.parse(this.responseText);
                if (response.html) {
                    document.getElementById('tabla-datos-csv').innerHTML = response.html;
                }
            }
        };

        xhr.send('direccion=' + direccion);
    }
</script>