{% extends "layouts/base.html" %}

{% block title %}<title>Menu Principal</title>{% endblock %}

{% block content %}
    {% if info %}
        <div class="mt-4">
        
            <div class="alert alert-info">
                <strong>Resultado de la Limpieza:</strong>
                <p>{{ info|linebreaks }}</p> <!-- Convierte los saltos de línea en la cadena en etiquetas <br> -->
            </div>
        
        </div>
    {% endif %}

    <div>
        {% include "file_handler/_scrollable_table.html" %}    
    </div>

{% endblock %}
